# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependências
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build
/build
/dist

# Arquivos de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Arquivos temporários
*.tmp
*.temp
